* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    background-color: aqua;
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
}

.side-menu, .main-content {
    overflow-y: scroll;
}

.side-menu {
    width: 240px;
    background-color: blue;
    flex-shrink: 0;

}

.main-content {
    background-color: cadetblue;
    flex-grow: 1;
}
